details {
    background-color:black;
    width:calc(100% - 40px);
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:10px;
}
.details-container {
    align-text: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
summary {
    background-color:cornflowerblue;
    padding: 10px;
    outline: none;
}
.answer {
    background-color:skyblue;
    padding:10px;
}
summary.info {
    background-color:lightsalmon; 
}
.answer.info {
    background-color:peachpuff;
}
summary.advanced {
    background-color:lightgreen;
}
.answer.advanced {
    background-color:#C1FFC1;
}
.glossary {
        text-decoration:underline;
}
div.pseudoterminal {
        background-color:black;
        color:antiquewhite;
        font-family:monospace;
        width:calc(100% - 40px);
        padding:10px;
        margin:20px;
}
span.pseudoterminal {
        background-color:black;
        color:antiquewhite;
        font-family:monospace;
        padding:3px;
}
.path {
        font-family:monospace;
        color:#1F45FC;
        background-color:#EBF4FA;
        font-weight:bold;
        padding:3px;
}
button {
        font-family:monospace;
        border-style:outset;
        outline: none;
}

.mono {
        font-family:monospace;
        font-weight:bold;
}
.centered {
        vertical-align:-0.125em;
}
