.ngs-LockCellsIcon {
    background-color: var(--jp-inverse-layout-color3);
    -webkit-mask-image: url(./lock.svg);
    mask-image: url(./lock.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
}
.ngs-UnlockCellsIcon {
    background-color: var(--jp-inverse-layout-color3);
    -webkit-mask-image: url(./unlock.svg);
    mask-image: url(./unlock.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
}
